.container {
	margin-top: .5rem;
}

.comment-footer::before {
	content: "\2014\00A0";
}

.comment-footer {
	display: block;
	color: #888888;
}

.card {
	margin-top: .5rem;
}

ul.no-list {
	padding-left: 0;
}

li.alert {
	list-style-type: none;
}

/*.message {
	display: block;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}*/