<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition>
		<small>
			<span class="glyphicon glyphicon-calendar"></span>
			&nbsp;
			<h:outputText value="#{date}">
				<f:converter converterId="localDateTimeConverter" />
				<f:attribute name="pattern" value="dd.MM.yyyy hh:mm" />
				<f:attribute name="timeZone" value="Europe/Zurich" />
			</h:outputText>
		</small>
	</ui:composition>
</h:body>
</html>
